include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include lms_api *.css
recursive-include lms_api *.csv
recursive-include lms_api *.html
recursive-include lms_api *.ico
recursive-include lms_api *.js
recursive-include lms_api *.json
recursive-include lms_api *.md
recursive-include lms_api *.png
recursive-include lms_api *.py
recursive-include lms_api *.svg
recursive-include lms_api *.txt
recursive-exclude lms_api *.pyc